<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Exclure les fichiers reels et dossiers
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # FrontOffice - article/id
    RewriteRule ^article/([0-9]+)/?$ index.php?action=article&id=$1 [QSA,L]
    
    # FrontOffice - article/slug
    RewriteRule ^article/([a-z0-9-]+)/?$ index.php?action=article&slug=$1 [QSA,L]
    
    # Autres routes FO
    RewriteRule ^search/?$ index.php?action=search [QSA,L]
    RewriteRule ^category/([0-9]+)/?$ index.php?action=category&id=$1 [QSA,L]
    
    # BackOffice
    RewriteRule ^admin/?$ admin.php [QSA,L]
    RewriteRule ^admin/([a-z-]+)/?$ admin.php?page=$1 [QSA,L]
    RewriteRule ^admin/([a-z-]+)/([0-9]+)/?$ admin.php?page=$1&id=$2 [QSA,L]
    RewriteRule ^admin/([a-z-]+)/([0-9]+)/([0-9]+)/?$ admin.php?page=$1&id=$2&version=$3 [QSA,L]
</IfModule>
