# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration de la base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nom_de_la_base
DB_USER=postgres
DB_PASSWORD=mot_de_passe
